* {
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: "Forum", serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    background-color: #f1f4d0;
    padding-top: 36px;
    padding-bottom: 200px;
}

.navbar {
    background-color: #f0f0cc;
    color: #000000;
    padding: 0;
    opacity: 0.5;
    border-radius: 20px;
    border: 2px solid #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.navbar-li a {
    text-decoration: none;
    color: #0b0000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}



.navbar a:hover {
    background-color: #f1f498;
}

.hero {
    display: flex;
    background-color: #f1f4d0;
    padding:120px 0;
    justify-content: center;
    text-align:center;
    position: relative;
}

.hero-img {
    position: absolute;
    width: 90px;
    top: 95px;
    right: 650px;
    transform: rotate(15deg);
}

.header-title {
    font-size: 70px;
    color: #000000;
    margin-bottom: 20px;
}

.header-text {
    font-size: 55px;
    color: #000000;
    margin-bottom: 30px;
}

.header-description {
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
}

.header-btn {
    display: inline-block;
    background-color: #000000;
    color: #f1f4d0;
    text-decoration: none;
    padding: 15px 45px;
    border-radius: 12em/2em;
    width: 300px;
    height: 60px;
    border: 2px solid #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #f1f498;
    color: #000000;
}

.header-img {
    position: absolute;
}
